<div class="auth-content">
  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 text-center auth-contaier">
    <h4 class="text-center">Register</h4>
    <form role="form" (ngSubmit)="register(f)" #f=ngForm>
      <div class="form-group">
        <input type="text" placeholder="Name" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control"
          required>
        <label class="text-danger" [hidden]="name.valid || (name.pristine && ! f.submitted)">Must Enter Name</label>
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="user.email"
          class="form-control" required>
        <label class="text-danger" [hidden]="email.valid || (email.pristine && ! f.submitted)">Must Enter Email</label>
      </div>
      <div class="form-group">
          <input type="text" placeholder="mobile" name="mobile" #mobile="ngModel"
            [(ngModel)]="user.mobile" class="form-control" required>
          <label class="text-danger" [hidden]="mobile.valid || (mobile.pristine && ! f.submitted)">Must Enter
            Mobile No</label>
        </div>
      <div class="form-group">
        <input type="text" placeholder="Organisation Name" name="organisation" #organisation="ngModel"
          [(ngModel)]="user.organisation" class="form-control" required>
        <label class="text-danger" [hidden]="organisation.valid || (organisation.pristine && ! f.submitted)">Must Enter
          organisation name</label>
      </div>
      <div class="form-group">
        <label>User Role</label>
        <select class="form-control" [(ngModel)]="user.userRole" name="userRole">
          <option value="User" selected="selected">User</option>
          <option value="Manager">Manager</option>
        </select>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="user.password"
          class="form-control" minlength="6" required>
        <label class="text-danger" [hidden]="password.valid || (password.pristine && ! f.submitted)">Must Enter
          Password</label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Register</button>
      </div>
    </form>
    <p>Already have an Account
      <a href="javascript:void(0)" routerLink='/login'> Login</a> here.</p>
  </div>
</div>
