<div class="auth-content">
<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 text-center auth-contaier">
  <h4 class="text-center">LOGIN</h4>
  <form role="form" (ngSubmit)="login(f)" #f=ngForm>
      <div class="form-group">
          <input type="email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
          <label class="text-danger" [hidden]="email.valid || (email.pristine && ! f.submitted)">Must Enter EMail</label>
      </div>
      <div class="form-group">
          <input type="password" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" minlength="6" required>
          <label class="text-danger" [hidden]="password.valid || (password.pristine && ! f.submitted)">Must Enter Password</label>
      </div>
      <div class="form-group">
          <button type="submit" class="btn">Login</button>
      </div>
  </form>
  <p>Don't have an Account
      <a href="javascript:void(0)" routerLink='/register'> Register</a> here.</p>
</div>
</div>